<!DOCTYPE html>
<html lang="en-us">
<head>
  <!--<link rel="stylesheet" href="/stylesheets/style.css"> -->
</head>
<body>
  <header>
    <!--<div id="logo">BOX</div> -->
    <form id="login" method="post">
    <!--  Email -->
      <input name="email" type="text">
    <!--  Password -->
      <input name="password" type="password">
      <button id="login-btn">Log In</button>
    </form>
  </header>
  <main>
    <h1 id="s">Get all your files from anywhere</h1>
    <img id="earth" src="/images/earth-flat.png">
    <form id="signUp" method="post">
      <input name="firstName" type="text" placeholder="First name">
      <input name="lastName" type="text" placeholder="Last name"><br>
      <input id="email" name="email" type="text" placeholder="Email"><br>
      <input id="password" name="password" type="password" placeholder="Password"><br>
      <input id="checkbox" type="checkbox" >
      I agree to Terms of Service

      <button id="signup-btn">Create Account</button>
    </form>
  </main>
</body>
</html>
