<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/profile.css">
  <title>Box</title>
</head>
<body>
  <div class="sidebar">
    <div id="logo">BOX</div>
    <p>My files</p>
    <form id="uploadForm"  enctype="multipart/form-data" action="/upload" method="POST">
      <input id="uploadFile" type="file" name="userFile">
      <input id="uploadButton" type="submit" value="Upload file" name="submit">
    </form>
    <a href="/logout">
      <button>Logout</button>
    </a>
  </div>
  <main>
    <ul id="fileOption">
      <li id="fileNameOption">Name</li>
      <li class="fileOwner">Owner</li>
      <li class="fileSize">Size</li>
    </ul>
    <hr>
    <div id="fileInfo">
    </div>
  </main>
  <script src="scripts/fileUpload.js"></script>
</body>
</html>
